* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2 {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 0.5em;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  /* Banner Styles */
  
  .banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Intro Styles */
  
  .intro {
    padding: 2em;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .intro h1 {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333;
  }
  
  .intro p {
    margin-bottom: 1em;
    color: #666;
  }
  
  /* Main Styles */
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 2em;
  }
  
  /* Concerts Styles */
  
  section.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    max-width: 2200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section.concert {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  section.concert h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section.concert p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Media Queries */
  
  @media (max-width: 400px) {
    main {
      grid-template-columns: 1fr;
    }
    section.concerts {
      padding: 0.5em;
    }
    h1 {
      font-size: 1.2em;
    }
    h2 {
      font-size: 1em;
    }
    .banner {
      height: 150px;
    }
    .intro {
      padding: 1em;
    }
  }
  
  
  @media (min-width: 2500px) {
    main {
      grid-template-columns: repeat(2, 1fr);
      gap: 4em;
    }
    section.concerts {
      padding: 2em;
    }
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.5em;
    }
    .banner {
      height: 300px;
    }
    .intro {
      padding: 3em;
    }
  }